/*Design of the navigation*/
body{
    margin: 0px;
}

#start > img{

    position: absolute;
    top: 0px;
    right: 0px;
}

nav{
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


#grp163{
    display: flex;
    flex-direction: row;
    margin-top: 8px;
    margin-left: 124px;
    margin-right: 168px;
}
#img1{
    width: 63px;
    height: 63px;
    margin-right: 4px;
}
#txt1{
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    color: #1a1a1a;
    margin-top: 15px;
    width: 113px;
    height: 33px;
}


#btn-div{
    margin-top: 27px;
    width: 100%;
    height: 24px;
    display: flex;
    align-items: center;
}
#nav-buttons{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
li > div{
    display: flex;
    align-items: center;
    margin-right: 79px;
}
#btn1{
    width: 76px;
    height: 24px;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.01em;
}
#btn2{
    width: 61px;
    height: 24px;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.01em;
}
#btn3{
    width: 42px;
    height: 24px;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.01em;
}
#btn4{
    width: 30px;
    height: 24px;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.01em;
}
#btn5{
    width: 84px;
    height: 24px;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.01em;
}


#lang-div{
    display: flex;
    flex-direction: row;
    align-items: center;    
    height: 41px;
    margin-top: 19px;
    margin-left: 158px;
    margin-right: 124px;
}
.lang{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 33px;
    font-size: 22px;
    font-weight: 400;
}
.lang-btn{
    background-color: white;
    padding: 0px;
    border: 0px;
}


#info{
    margin-left: 124px;
    margin-top: 32px;
}


#sol-btn{
    width: 265px;
    height: 81px;
    background: #FD9900;
    border-radius: 20px;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 72px;
    border: 0px;
}
#sol-txt{
    display: flex;
    text-align: center;
    align-items: center;
    width: 151px;
    height: 57px;
    font-weight: 500;
    font-size: 38px;
}


#grp162{
    width: 539px;
    height: 461px;
}
#grp162 > img{
    width: 268px;
    height: 268px;
}
#grp164 > div{
    font-weight: 500;
    font-size: 52px;
    width: 325px;
    height: 78px;
    text-transform: capitalize;
}
#grp164 > p{
    width: 539px;
    height: 99px;
    font-weight: 400;
    font-size: 22px;
    letter-spacing: 00.01em;
    margin: 0px;
}

/************************************************************************/
#about{
    margin-top: 120px;
    margin-left: 124px;
    margin-right: 163px;
    margin-bottom: 120px;
}
#about > h2{
    width: 184px;
    height: 57px;
    font-weight: 500;
    font-size: 38px;
    margin-bottom: 48px;
}

#grp110{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#grp109 > h2{
    display: flex;
    align-items: center;
    width: 98px;
    height: 78px;
    font-weight: 500;
    font-size: 52px;
    margin: 0px;
    margin-bottom: 16px;
}
#grp109 > h6{
    width: 220px;
    height: 42px;
    font-weight: 500;
    font-size: 28px;
    margin: 0px;
    margin-bottom: 16px;
}
#grp109 > p{
    display: flex;
    align-items: center;
    width: 268px;
    height: 48px;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 00.01em;
    opacity: 0.9;
    margin: 0px;
}

#grp122 > h2{   
    display: flex;
    align-items: center;
    width: 156px;
    height: 78px;
    font-weight: 500;
    font-size: 52px;
    margin: 0px;
    margin-bottom: 16px;
}
#grp122 > h6{
    width: 266px;
    height: 42px;
    font-weight: 500;
    font-size: 28px;
    margin: 0px;
    margin-bottom: 16px;
}
#grp122 > p{
    display: flex;
    align-items: center;
    width: 268px;
    height: 72px;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 00.01em;
    opacity: 0.9;
    margin: 0px;
}

#grp123 > h2{
    display: flex;
    align-items: center;
    width: 156px;
    height: 78px;
    font-weight: 500;
    font-size: 52px;
    margin: 0px;
    margin-bottom: 16px;
}
#grp123 > h6{
    width: 332px;
    height: 42px;
    font-weight: 500;
    font-size: 28px;
    margin: 0px;
    margin-bottom: 16px;
}
#grp123 > p{
    display: flex;
    align-items: center;
    width: 268px;
    height: 72px;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 00.01em;
    opacity: 0.9;
    margin: 0px;
}
/************************************************************************/
#beneficii{
    height: 497px;
    width: 100%;
    background-image: url("Rectangle.png");
    margin-bottom: 160px;
}
#grp111{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#grp107{
    margin: 0px 124px 0px 124px;
    padding-top: 56px;
    padding-bottom: 64px;
}
#grp107 > h2{
    margin: 0px 0px 40px 0px;
    font-weight: 500;
    font-size: 38px;
}
.bnf>img{
    background-image: url("Ellipse.png");
    width: 100px;
    height: 100px;
}
.bnf>h6{
    margin: 20px 0px 22px 0px;
    width: 82px;
    height: 42px;
    font-weight: 400;
    font-size: 28px;
}
.bnf>p{
    width: 268px;
    height: 96px;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 00.01em;
    opacity: 0.9;
}
/************************************************************************/
#Amintiri{
    width: 1600px;
    height: 1028px;
    margin: 0px 160px 160px 160px;

}
#Amintiri > h2{
    width: 185px;
    height: 78px;
    font-weight: 500;
    font-size: 52px;
    letter-spacing: 0.01em;
    color: black;
    margin: 0px 0px 56px 0px;
}
#grp121{
    display: flex;
    flex-direction: row;
}
#grp121 > h4{
    margin: 0px;
}
#h41{
    width: 123px;
    height: 45px;
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 00.01em;
}
#h42{
    width: 16px;
    height: 45px;
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 0.01em;
}
#h43{
    width: 160px;
    height: 45px;
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 00.01em;    
}
#grp124{
    width: 1600px;
    height: 752px;
    display: grid;
    margin-top: 32px;
}
#frame154{
    display: flex;
    justify-content: center;
}
#frame154 > button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 177px;
    padding: 0px;
    height: 65px;
    background-color: white;
    border: 2.6px solid #FD9900;
    border-radius: 22px;
}
#mai-multe > p{
    display: flex;
    align-items: center;
    width: 93px;
    height: 33px;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.01em;
    margin: 0px;
}
.imgrow1{
    width: 501px;
    height: 268px;
    background-color: #616161;
}
.imgrow2{
    width: 364px;
    height: 400px;
    background-color: #616161;
}
#grp124 > div{
    display: flex;
    justify-content: space-between;

}
#grp124-1{
    height: 268px;
}
#grp124-2{
    height: 400px;
}
/************************************************************************/
#info-membri{
    width: 1920px;
    height: 852px;
    background-image: black;
}
#info-membri > h2{
    width: 417px;
    height: 78px;
    font-weight: 500;
    font-size: 52px;
    letter-spacing: 0.01em;
    margin: 70px 0px 56px 160px;
}
#frame64{
    display: flex;
    justify-content: center;
    align-items: center;
}
.eclipse{
    width: 16px;
    height: 16px;
    background-color: black;
    border-radius: 100%;
}
/************************************************************************/

